@charset "UTF-8";

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        font-size: 1.5em;
    }
    section#login {
        width: 90vw;
        height: 40vh;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

/* Notebook pequeno */
@media screen and (min-width: 992px) and (max-width: 1023px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 65vw; /* 950px ≈ 65vw numa tela de 1440px */
        height: 50vh;
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 65%;
    }
}

/* Notebook médio */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        font-size: 2em;
    }
    section#login {
        width: 90vw;
        height: 40vh;
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 65%;
    }
}

/* Desktop comum */
@media screen and (min-width: 1280px) and (max-width: 1366px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 76vw;   /* 1100px ≈ 76vw numa tela de 1440px */
        height: 65vh;  /* 600px ≈ 65vh numa tela de 920px de altura */
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 65%;
    }
}

/* Desktop Full HD e maior */
@media screen and (min-width: 1367px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
        height: 60vh;
    }
    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 65%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
}

/* Suporte específico para 1024x600 */
@media screen and (width: 1024px) and (height: 600px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        font-size: 1.2em;
        overflow: hidden;
    }

    section#login {
        width: 90vw;
        height: 70vh;
    }

    section#login > div#imagem {
        float: left;
        width: 35%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 65%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
        font-size: 1em;
    }
}

/* Suporte específica para 912x1368(Surface Pro 7*/
@media screen and (width: 912px) and (height: 1368px) {
    body {
        font-size: 2em;
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
        overflow: hidden;
    }

    section#login {
        width: 90vw;
        height: 35vh;
    }

    section#login > div#imagem {
        width: 35%;
        height: 100%;
    }

    section#login > div#formulario {
        width: 65%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
        font-size: 1em;
    }
}
